In [1]:
import pandas as pd
# import spacy
# import networkx as nx                        # a really useful network analysis library
# import matplotlib.pyplot as plt
# # from networkx.algorithms import community   # not used, yet... 
# import datetime                              # access to %%time, for timing individual notebook cells
# import os

In [121]:
def prepare_df(df):
    df["topic"] = df[df["text"].isin(topic)]

    df[["speaker", 'text']] = df["text"].str.split(":", expand=True)
    df["topic"] = df["topic"].fillna(method="ffill")
    df = df[df["speaker"].str.contains("P")]
    df = df[['speaker', 'topic', 'text']].reset_index(drop=True)
    
    return df


def read_text():
    return pd.read_table("data/session-1-transcribed-annotated.txt",
                         header=None,
                         names=["text"])

In [123]:
topic = ["USAGE", "TECHNOLOGY", "EMOTION", "COMFORT", "EXPERIENCE", "SATISFACTION"]

df = read_text()
df = prepare_df(df)

In [125]:
df

    speaker         topic                                               text
0        P*         USAGE   Mainly groups working together as it's an ope...
1        P*         USAGE   I also like quite a non-stressy work. Like ju...
2         P         USAGE   You could also use it for a lunch or something.
3         P    TECHNOLOGY   How smart do you think this place is? How do ...
4         P    TECHNOLOGY   It's not really smart, I think. There are som...
..      ...           ...                                                ...
131      P*  SATISFACTION   Cottage like. Cottage like. Which is cozy. Bu...
132      P*  SATISFACTION      I feel at peace, this space is I know Roomy.
133       P  SATISFACTION    For me it's not comfortable so… uncomfortable.
134       P  SATISFACTION   Yeah, I just …the light…[from the artificial ...
135       P  SATISFACTION    I'm feeling familiar with this place and fam...

[136 rows x 3 columns]